/* CSS: cascading style sheet  */

* {
    /* margin is the space around an element */
    margin: 0px;
    /* padding is the space within an element between the border and the content */
    padding: 0px;
    /*important to use multiple font families in case a web browser does not support one*/
    font-family:sans-serif, "Press Start 2P";
    color:white;
}

body{
    
    background: linear-gradient(black, skyblue);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.nav{
    /*  
        static: normal state
        relative: move element relative to a point of origin (default at top left corner)
        absolute: searches for parent positioned non-statically, element gets ignored by anything else
        fixed: stay in position of your viewport (even if you scroll)
        sticky: will stick to the edge of the viewport if scrolling past
    */

    font-size: 20px;
    height: 50px;
    background-color:black;

    position: sticky;
    top: 0px;
}

.nav-button{
    flex-grow: 1;
    flex-shrink: 1;

    max-width: 200px; /* limit flex gorw */
    min-width: 10px; /* limit flex shrink */

    font-size: 20px;

    background: none;
    border: none;
}

/* colon references pseudo classes */
.nav-button:hover{
    color:skyblue;

    .fa-solid{
        color: skyblue;
    }
    .nav-text{
        color:skyblue;
    }
}

/* dynamically change type of flex based on width of screen being used */
@media(max-width: 575px){
    .nav-text{
        display: none;
        position: none;
    }
}


/* period references HTML class="" */
.top{
    height: calc(100vh - 50px);
    text-align: center;
}

/* hashtag references HTML ID="" */
#name{
    flex-grow: 0;
    flex-shrink: 1;
    font-size: 82px;

    text-shadow: 5px 5px 0px black;
    max-width: 800px;
}

#creds{
    flex-grow: 0;
    flex-shrink: 1;
    font-size: 22px;
    max-width: 800px;
}

.flex-container-column{
    display: flex; /* very important, typically block or inline by default */
    flex-direction: column;
    gap: 0px;
    column-gap: 0px;
    row-gap: 0px;
    flex-wrap: wrap; /* responsive line breaks */
    justify-content: center; /* main-axis alignment */
    align-items: center; /* cross-axis alignment */
    align-content: center;
}

.flex-container-row{
    display: flex;
    flex-direction: row;
    row-gap: 20px;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.fa-solid{
    flex-shrink: 1;
    flex-grow: 0;
}

.flex-box-row{
    flex-grow: 1; /* allow getting bigger */
    flex-shrink: 1; /* allow getting smaller */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.flex-box-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.flex-link{
    text-decoration: none;
}

/*
p{
    background-color: gray;
    color:white;
    
    border-style:solid;
    border-width:5px;
    border-color:white;
    border-radius:10px;
    padding: 5px;
}
*/

.section{
    margin: 50px;
    padding: 25px;
    flex-grow: 1;
    flex-shrink: 1;

    gap: 20px;

    max-width: 800px;
    min-width: 100px;
    font-size: 40px;

    border: 5px solid skyblue;
    border-radius: 10px;

    background-color: black;
}

p{
    text-indent: 50px;
    
    font-size: 22px;

    padding: 10px;
}

#to-top-button{
    position: fixed;
    bottom: 20px;
    right: 20px;

    background: blue;
    color: white;
    opacity: 0.5;

    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 5px 2px 4px rgba(0, 0, 0, 0.3);

    transition: all 0.2s linear;
}

#to-top-button:hover{
    opacity: 1;
}

.hidden {
    display: none;
}